@import "../../global.scss";

.intro {
    background-color: white;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.6;
        overflow: hidden;

        .imgContainer {
            width: 600px;
            height: 600px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            float: right;

            @include mobile{
                align-items: flex-start;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0 0;

                @include mobile{
                    height: 60%;
                }
            }
        }

    }
    .right{
        flex: 0.4;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                align-items: center;
                padding-left: 0px;
            }
        
            h2 {
                font-size: 35px;
                @include mobile {
                   font-size: 20px; 
                }
            }
            h1 {
                font-size: 60px;
                margin: 10px 0;
                @include mobile {
                    font-size: 40px;   
                }
            }
            h3 {
                font-size: 30px;
                
                @include mobile {
                    font-size: 15px;    
                }
                
                span {
                    color: crimson;
                }

                .ityped-cursor {
                    animation: blink 1s infinite
                }

                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }

        a {
            position: absolute;
            width: 70px;
            height: 70px;
            left: 40%;
            animation: arrowBlink 1s infinite;

            img {
                width: 30px;
            }

            @keyframes arrowBlink {
                from{
                    opacity: 100;
                    bottom: 40px;
                }
                to{
                    opacity: 0;
                    bottom: 15px;
                }
            }
        }
    }
}